
<header>
  <div class="collapse bg-dark" id="navbarHeader">
   
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.svg.png" width="20" height="20" >
        <strong>JJ.OO</strong>
      </a>
      
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.svg.png" height="100" width="200">
        <h2 class="fw-light">Iceland</h2>
        <h1 class="fw-light">¿Cuanto conoces sobre los Juegos Olimpicos de Invierno?</h1>
      
        <p>
          <a href="#" class="btn btn-primary my-2" hidden>Main call to action</a>
          <a href="#" class="btn btn-secondary my-2" hidden>Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <nav id="nav">
      <div class="row row-cols-1 row-cols-sm-2 ">
        
        <a href="/sedes"><app-sede></app-sede></a>
        
        <app-disciplina></app-disciplina>
        
      </div>
      </nav>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">El sitio presenta informacion sobre los Juegos Olimpicos de Invierno, no tiene fines lucrativos solo da esperanza para pasar el semestre</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
