<div class="album py-5 bg-light">
    <div class="container">
    <h1>Biatlon</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
          
        <div class="col">
          
          <div class="card shadow-sm" >
            <img  src="https://cdn.pixabay.com/photo/2012/04/24/12/26/digital-39747_960_720.png" width="200rem" height="250rem" >
            <div class="card-body">
              <p class="card-text">Años de aparición

              </p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
         
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img  src="https://cdn.pixabay.com/photo/2012/04/24/12/26/digital-39747_960_720.png" width="200rem" height="250rem" >
            <div class="card-body">
              <p class="card-text">Pruebas</p>
              <div class="d-flex justify-content-between align-items-center">
              
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/vector-gratis/podio-ganadores-copas_1150-40636.jpg?w=2000" height="250 rem">
            <div class="card-body">
              <p class="card-text">Medallero</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

       

        
      </div>
    </div>
</div>