<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <a href="/unasede">
          
        <div class="col">
          
          <div class="card shadow-sm">
            <img src="https://as2.ftcdn.net/v2/jpg/00/93/82/53/1000_F_93825384_a08xOOcPc0r2RpCYwMAdSysTvgwmhrY8.jpg" >
            <div class="card-body">
              <p class="card-text">Chamonix</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
         
        </div>
        </a>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.lugaresdenieve.com/sites/default/files/estaciones/st-moritz_0.jpg" height="275rem">
            <div class="card-body">
              <p class="card-text">Sant Moritz</p>
              <div class="d-flex justify-content-between align-items-center">
              
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://a.travel-assets.com/findyours-php/viewfinder/images/res70/92000/92636-Lake-Placid-And-Vicinity.jpg" height="275 rem">
            <div class="card-body">
              <p class="card-text">Lake Placid</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__live_banner__lb_image__1880bp/public/live_banner/Garmisch-Partenkirchen.jpg" height="275rem">
            <div class="card-body">
              <p class="card-text">Garmisch Partenkirchen</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.lugaresdenieve.com/sites/default/files/estaciones/ski-jumps-at-garmisch-partenkirchen.jpg" height="275 rem">
            <div class="card-body">
              <p class="card-text">Sapporo</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/10/12/101217_v3.jpeg" height="275">
            <div class="card-body">
              <p class="card-text">Cortina D' Amperezzo</p>
              <div class="d-flex justify-content-between align-items-center">
              
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
</div>