
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <a href="/biatlon">
          <div class="card shadow-sm">
            <img src="https://img.olympicchannel.com/images/image/private/t_16-9_3200/primary/xdhhoopomxdyzsxtetgo" height="275rem">
            <div class="card-body">
              <p class="card-text">Biatlon</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.lugaresdenieve.com/sites/default/files/team%20jamaica-1.jpeg" height="275rem">
            <div class="card-body">
              <p class="card-text">bobsleigh</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.ecestaticos.com/w1HhyzMEn7svl94mQ54D3WQJpH4=/253x0:2273x1515/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd6a%2F422%2F497%2Fd6a4224970bb38e55ae35ceff88b23bc.jpg" height="275rem">
            <div class="card-body">
              <p class="card-text">Combinada Nordica</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.olympicchannel.com/images/image/private/t_16-9_3200/primary/prq8nqkfvkrkxjhwh7mv" height="275rem">
            <div class="card-body">
              <p class="card-text">Curling</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Freestyle_skiing_jump2.jpg" height="275rem">
            <div class="card-body">
              <p class="card-text">Esqui Acrobatico</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://phantom-marca.unidadeditorial.es/c96b96d1d04b4c36f9c1819b9629ad43/resize/1320/f/jpg/assets/multimedia/imagenes/2020/09/10/15997417804689.jpg" height="275rem">
            <div class="card-body">
              <p class="card-text">Hockey sobre hielo</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</div>