<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.svg.png" height="100" width="200">
          <h2 class="fw-light">Iceland</h2>
          <h1 class="fw-light">¿Cuanto conoces sobre los Juegos Olimpicos de Invierno?</h1>
        
          <p>
            <a href="#" class="btn btn-primary my-2" hidden>Main call to action</a>
            <a href="#" class="btn btn-secondary my-2" hidden>Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2">
            
          <div class="col">
            <a href="/sedes">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h1 class="card-text"> Sedes</h1>
                </div>
                <img id="img0" src="https://as2.ftcdn.net/v2/jpg/00/93/82/53/1000_F_93825384_a08xOOcPc0r2RpCYwMAdSysTvgwmhrY8.jpg"> 
              </div>
              </a>
          </div>
          <div class="col">
            <a href="/disciplinas">
              <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <h1 class="card-text">Disciplinas</h1>
                  </div>
                  <img id="img01" src="https://img.olympicchannel.com/images/image/private/t_16-9_1240-700_15x/f_auto/v1538355600/primary/xdhhoopomxdyzsxtetgo" width: 35rem height: 23rem >
                  
                </div>
              </a>
          </div>
          
  
         
        </div>
      </div>
    </div>
  
  </main>